
.intro title {
    padding-left: 3%;
    padding-right: 3%;
    
}

.intro p {
    font-size: rem(20);
    font-weight: 200;
    line-height: rem(26);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: rem(13);
    padding-bottom: rem(10);
}

.intro-img {
    display: block;
    margin: 0 auto;
}

