//theme colors
$primary: #CC5520;
$secondary: #0F001A;
$color-light: #ffff;
$color-dark: #0000;
$validation-color: #009745;
$eror-color: red;
$highlight-color: #FFCBBA;
$upload-button: #77767E;
$btn-hover: #FF3D00;
$lightgray: #878787;

//borders
$base-border-thickness: rem(1);
$base-border-radius: rem(10);

//typography
$title-mobile-size: rem(36);
$title-desktop-size: rem(50);

